# Welcome to Jupyter!

In [1]:
import pandas as pd

In [2]:
# Faked data for source:
part_pricing = {
    'Part Number': [1234, 2345, 3456, 4567, 5678, 6789, 7890],
    'Pricing':     [1.00, 2.00, 3.00, 4.00, 5.00, 6.00, 7.00],
}
dataframe1 = pd.DataFrame(part_pricing)

Print the output to see what it looks like:

In [3]:
dataframe1

   Part Number  Pricing
0         1234      1.0
1         2345      2.0
2         3456      3.0
3         4567      4.0
4         5678      5.0
5         6789      6.0
6         7890      7.0

## Parse second sheet (one we want to paste data into)

In [4]:
# Faked data:
part_pricing = {
    'Part Number': [1234, 2345, 8901, 9012],
    'Description': ["product 1", "product 2", "product 8", "product 9"],
}
dataframe2 = pd.DataFrame(part_pricing)

Print the output to see what it looks like:

In [5]:
dataframe2

   Part Number Description
0         1234   product 1
1         2345   product 2
2         8901   product 8
3         9012   product 9

## Possibility 1: Merge the two on a column
Using 'Part Number' column and merge dataframe1 onto dataframe2.

In [6]:
merged_dataframe = pd.merge(dataframe1, dataframe2, on="Part Number", how='right')
merged_dataframe

   Part Number  Pricing Description
0         1234      1.0   product 1
1         2345      2.0   product 2
2         8901      NaN   product 8
3         9012      NaN   product 9

## Altogether

## Script you can use:

```python
import pandas as pd

def read_from_excel(path, sheetname):
    with open(path,'rb') as file:
        return pd.read_excel(file, sheetname=sheetname)
    
# Hardcoding paths for convinence
file1 = "/path/to/some/file.xlsx"
sheet1 = "somesheet1"

file2 = "/path/to/some/file.xlsx"
sheet2 = "somesheet2"

file3 = "/path/to/some/file.xlsx"
    
# Read them
dataframe1 = read_from_excel(file1, sheet1)
dataframe2 = read_from_excel(file2, sheet2)

# Merge the two together
merged_dataframe = pd.merge(dataframe1, dataframe2, on="Part Number", how='right')

# Output the file to a 3rd file - in case you dont trust overwriting (?)
merged_dataframe.to_excel(file3, sheet_name=sheet2, index=False)
```

Or, if you want to overwrite a single sheet:

```python
# Output the files - overwriting the second sheet
with pd.ExcelWriter(file2, if_sheet_exists='replace') as writer:
    merged_dataframe.to_excel(writer, sheet_name=sheet2, index=False)
```

run it using `python3 <filename>`